<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <servlet-class>controller.UserStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>controller.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeList</servlet-name>
        <servlet-class>controller.ViewEmployeeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeStatus</servlet-name>
        <servlet-class>controller.UpdateEmployeeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <url-pattern>/UserStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/addstaffservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeList</servlet-name>
        <url-pattern>/admin/employee-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeStatus</servlet-name>
        <url-pattern>/update-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>  
    </welcome-file-list>
</web-app>
