<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AppointmentController</servlet-name>
        <servlet-class>controller.AppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAppointmentController</servlet-name>
        <servlet-class>controller.AddAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorDashboardController</servlet-name>
        <servlet-class>controller.DoctorDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentController</servlet-name>
        <url-pattern>/manageAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAppointmentController</servlet-name>
        <url-pattern>/addAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorDashboardController</servlet-name>
        <url-pattern>/doctor/dashboard</url-pattern>
    </servlet-mapping>
</web-app>
