<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <servlet-class>controller.UserStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>controller.CreateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>controller.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>controller.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>controller.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerAccountServlet</servlet-name>
        <servlet-class>controller.ViewCustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDetailServlet</servlet-name>
        <servlet-class>controller.AppointmentDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <url-pattern>/UserStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/EditBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerAccountServlet</servlet-name>
        <url-pattern>/ViewCustomerAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDetailServlet</servlet-name>
        <url-pattern>/AppointmentDetailServlet</url-pattern>
    </servlet-mapping>
</web-app>
