body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2fbff;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #0078b4;
    margin-bottom: 30px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #64ccff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.actions {
    text-align: center;
    margin-top: 30px;
}

.btn {
    background-color: #64ccff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #45bde0;
}
